
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">COMP2139 Lab</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

            <form class="d-flex align-items-center" asp-controller="Home" asp-action="GeneralSearch" method="get">
                <div class="input-group">
                    <input class="form-control me-2" type="text" placeholder="Search..." name="searchString" />
                    <select name="searchType" class="form-select">
                        <option value="" disabled selected>Select Search Type</option>
                        <option value="Projects">Projects</option>
                        <option value="Tasks">Tasks</option>
                    </select>

                    <button class="btn btn-outline-success" type="submit">Search</button>
                </div>
            </form>


            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="ProjectManagement" asp-controller="Project" asp-action="Index">Project</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
