@model Project

  @{
      ViewBag.Tittle = "Project Details";
      Layout = "_Layout";
  }
  
  <h2>Project Details</h2>
  
  <div class="card">
  <div class="card-body">
      <h3 class = "card-title">@Model.Name</h3>
      <h3 class = "card-text">@Model.Description</h3>
      
      <dl class="row">
          <dt class="col-sm-3">Project ID</dt>
          <dd class="col-sm-9">@Model.ProjectId</dd> 
      </dl>
      
      <a asp-action="Edit" asp-route-id="@Model.ProjectId" class="btn btn-primary">Edit</a> 
      <a asp-action="Index" class="btn btn-secondary">Back to List</a>
  </div>
</div>  
